@import './colors.scss';

.pageContainer {
  display: block;
}
.pageNotFoundContainer {
  display: block;
  position: absolute;
  width: 100%;
  top: 50%;
  .content {
    text-align: center;
  }
}
.userPageContainer {
  width: 95%;
  margin: 20px auto;
  .margin15 {
    padding: 0 0 15px 0;
  }
  .searchBox {
    padding: 3px 15px;
    display: block;
    border-radius: 100px;
    border: 0.5px solid $greyLight;
    font-size: 14px;
  }
  .searchBox:focus {
    outline: none;
  }
  .cursor {
    cursor: pointer;
  }
  .marginLeft10 {
    margin-left: 10px;
  }
  .addBtn {
    display: block;
    border-radius: 50px;
    margin-right: 20px;
    padding: 0 15px;
    font-size: 14px;
  }
  .tableContent {
    width: 100%;
    margin: auto;
  }
}
.jumbotron {
  padding: 10px;
}
.displyFlex {
  display: flex;
  flex-direction: row-reverse;
}
/* Delete dialog styles*/
.deleteDialog {
  .modal-header, .modal-body, .modal-footer {
    padding: 10px 15px;
  }
  .modal-footer {
    button {
      font-size: 12px;
      line-height: 14px;
    }
  }
  .modal-title {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.5;
  }
  .modal-body {
    font-size: 14px;
  }
}

/* Add User Style*/
.addUerDialog {
  .userBtn {
    display: flex;
    flex-direction: row-reverse;
    :first-child {
      margin-left: 10px;
    }
  }
}